<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">
<title> title here</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center"\>
<div class="text-center">
<h1>About</h1>
<h2 class="mt-4">A contact manager is a software program that enables users to easily store and find 
contact information, such as names, addresses, and telephone numbers. They are contact-
centric databases that provide a fully integrated approach to tracking all information
 and communication activities linked to contacts.</h2>
</div>
</section>
</body>
</html>