<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base1::layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">
<title> title here</title>
</head>
<body>
<section >
<div class="card  mr-3 ml-3">
<div class="card-body">
<div class="container text-center">
<h1>Your Profile</h1>
 <img src="" style="height:200px; width:200px;" class="my_profile_picture mt-2" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo"/>
<h3 class="text-center" th:text="${user.name}"></h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TSA2022<span th:text="${user.id}"></span></th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${user.email}"></span></td>
     
 
     <tr>
      <th scope="row">Role</th>
      <td><span th:text="${user.role}"></span></td>
     
    </tr>
    
      <tr>
      <th scope="row">Account Status</th>
      <td><span th:text="${user.enabled}"></span></td>
     
    </tr>
    
     <tr>
      <th scope="row">about</th>
      <td><span th:text="${user.about}"></span></td>
     
    </tr>
  
  </tbody>
</table>
<div class="container">

 <!--  <button th:onclick="|deleteContact(${user.id})|" class="btn btn-block btn-danger btn-sm">Delete</button>  -->
       <form  th:action="@{'/user/profileupdate'}" class="mt-2">
       <button  type="submit" class="btn btn-block btn-primary btn-0">Update</button>
       </form>
</div>
</div>
</div>
</div>
</section>
</body>
</html>