<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base1::layout(~{::section})" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="text-center">
<div class="container ">
<div class="card">
<div class="card-body my-5">
<h1 class="text-center">Your Contacts</h1>

<div class="search-container my-3  ">
<h3>search results</h3>
<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contacts"/>
<div class="search-result">
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
        <th scope="col">Action(Delete/Update)</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}">
    
      <th scope="row" th:text="${'TSA2022'+c.cid}">1</th>
     
      <td>
         <img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="profile photo"/>
      <span th:text="${c.name}"></span></td>
      <td >
      <a href="#" th:href="@{'/user/'+${c.cid}+'/contact/'}">
      <span th:text="${c.email}"></span>
      </a>
      </td>
      <td th:text="${c.phone}"></td>
       <td>
        <form method="POST" th:action="@{'/user/update-contact/'+${c.cid}}" class="mt-2">
       <a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-0" style="border-radius:50%;">Delete</a>
       <button  type="submit" class="btn btn-primary btn-0 ml-2" style="border-radius:50%;">Update</button>
       </form>
       </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentPage !=0}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    <li th:if="${currentPage+1 !=totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>
</div>
</div>
</div>
</section>
</body>
</html>